html {
    height: 100%;
}


/*general style of web pages*/

body {
    color: black;
    background-color:whitesmoke;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    font-family: Helvetica,Arial,Lucida,sans-serif;
}

.banner img {
    width: 1024px;
    display: block;
}


/*top navigation menu*/

.nav-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    background-position: center;
    display: flex;
    justify-content: center;
    background-color: rgb(14, 13, 13);
}


/*the style for the main nav-menu on all pages*/

.nav-menu-item {
    border: 1px;
    border-radius: 2px;
    padding: 5px;
    background-color: rgb(14, 13, 13);
    font-weight: bolder;
    text-align: center;
    width: 200px;
    margin: 0 5px 0 5px;
}


/* change the navigation menu color on hover */

.nav-menu-item:hover {
    background-color: rgb(250, 175, 57);
}

/*changes for selected page in navigation*/

.nav-menu-item.selected span {
    color: rgb(250, 175, 57);
}

.nav-menu-item:hover span {
    color: black;
}

nav {
    padding: 0;
}

/*text navigation style*/

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 12px;
    padding-left: 12px;
}

/*main general*/

main .columns {
    margin-top: 5px;
    background-color: whitesmoke;
    padding: 15px 25px 25px 25px;
    display: flex;
}

/*book now section in the main*/

main .no-columns{
margin: auto;
text-align: center;
padding: 50px 0;
background-image: url('images/book-now-image-backgraund.jpg');
background-position-y: 1545px;
background-size: 100%;
}

/*book now section in the main, setting of button*/
main .no-columns button {
    width: 250px;
    border-radius: 5px;
    height: 50px;
    color: white;
    background: black;
    font-size: 20px;
}

main .no-columns button:hover{
    color: black;
    background: rgb(250, 175, 57);
    font-size: 22px;
}

.button-wrap {
 font-style: italic;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*text heading under pictures in the web part*/
.text-under-picture{
    font-size: 20px;
    font-weight: bold;
}

/*Our story section*/
.header-no-columns{
    text-align: center;
    margin-bottom: -10px;
    padding: 40px 80px 5px 80px;
    font-size: xx-large;
}

.text-no-columns{
    padding: 10px 180px 60px 180px;
    text-align: center;
    font-size: large;
}

/*footter general*/

footer {
    margin-top: 0px;
    background-color: black;
    padding: 15px 25px 5px 25px;
    text-align: center;
}


/*footer navigation and styles*/

.footer-nav-menu-item {
    padding-right: 20px;
    padding-left: 20px;
}

.footer-nav-menu a {
    color: rgb(250, 175, 57);
    text-decoration: none;
    font-size: 14px;
}

.footer-nav-menu-item a:hover {
    color: white;
}

.footer-restaurant-address p {
    color: white;
    font-size:small;
    margin-top: 27px;
    margin-bottom: 15px;
}

.footer-text {
    padding-top: 10px;
    color: lightgrey;
    font-size: small;
}

/*footer mail to*/

.footer-restaurant-address a{
    text-decoration: none;
    color: white;

}

.footer-restaurant-address a:hover{
    color:rgb(250, 175, 57);
    
}

/*social web site icons*/
/*from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/
.fa {
    padding: 5px;
    margin-left: 23px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #616166;
    color: white;
  }

  /* a hover effect */

    .fa-facebook:hover {
    background: #1f3a74;
    color: white;
  }

    .fa-instagram:hover{
    background: #12598b;
    color: white;
  }

  .fa-twitter:hover {
    background: #74baf0;
    color: white;
  }


/*deviding page to 2 parts - contact us and vouchers*/

.column {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.row {
    margin: 20px 0;
}

.max-width {
    width: 100%;
}

.wide {
    width: 75%;
}

.wider {
    width: 50%;
}

.narrower {
    width: 35%;
}

.thumbnail {
    width: 20%
}

.thumbnail-image {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-position: center;
}

#contact-us .wider.column {
    padding: 30px;
}

.section-content a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.section-content a:hover {
    color:rgb(250, 175, 57);
    font-weight: bold;
    
}

/*vouchers*/

.section-content {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.section-content p {
    margin-bottom: 0;
}

.right {
    text-align: right;
}

.button-menu {
    padding: 5px 20px;
}

.button {
    width: 210px;
    height: 35px;
    color: white;
    background-color: black;
    font-size: 16px;
}
.button:hover {
    background-color: rgb(250, 175, 57);
    color: black;
}

/*vouchers section*/

.top-heading {
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
}

.sub-heading {
    margin: 0px 20px;
    font-size: x-large;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.bottom-menu {
    display: block;
}

.bottom-menu p {
    display: inline-block;
    font-size: large;
}

.bottom-menu section {
    display: inline-block;
}

/*menu page*/
#menu-section {
    padding: 35px 45px;
    /*background-image: url('images/brick-wall-bck-ground.jpg');*/
    background-size: 100%;
    
}
#menu-section .section-title {
    text-align: center;
    font-size: xxx-large;
}

#menu-section .list {
    list-style: none;
    }

#menu-section .item-title {
    margin-left: 30px;
    font-size: x-large;
}

#menu-section .list-item {
    display: block;
    margin: auto;
    width: 80%;
}

#menu-section .text-description {
    margin-left: 40px;
    color: rgb(80, 80, 80);
    font-size: medium;
    font-style: italic;
}

#menu-section .light-weight {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

