<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS styles restraurant web pages-->
    <link rel="stylesheet" href="main.css" />
    <title>Amelia Restraurant</title>
    <!--Description of web page-->
    <meta
      name="Amelia Restaurant is located in the heart of the Dublin city."
      content="Amelia Restaurant was esteplished in Dublin in June 2021. We have a wide range of dishes and wines in the menu. Now we are open 7 days a week from 11am to 11pm..."
    />
  </head>

  <!--Structure of a web page-->
  <body>
    <header>
      <div class="banner">
        <!--the picture for banner was downloaded from https://unsplash.com/t/food-drink-->
        <img
          src="/images/main-banner.jpg"
          alt="There is a logo of Amelia Restaurant with a picture of salad at the top of a web page."
        />
      </div>
      <!--the main navigation bar on the header of web page - should be the same for all web pages-->
      <nav class="nav-menu">
        <span class="nav-menu-item selected">
          <a href="index.html">HOME</a>
        </span>

        <span class="nav-menu-item">
          <a href="menu.html">MENU</a>
        </span>

        <span class="nav-menu-item">
          <a href="gift-vauchers.html">GIFT VOUCHERS</a>
        </span>

        <span class="nav-menu-item">
          <a href="contact-us.html">CONTACT US</a>
        </span>
      </nav>
    </header>

    <main>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et quam
          dignissim enim convallis pharetra. Sed lacinia, ligula eget luctus
          maximus, tortor lacus aliquet libero, non scelerisque est metus ac
          mauris. Phasellus rhoncus urna porta quam mollis pellentesque. Aliquam
          tempus nisl dolor. Cras a vulputate sem, ac mattis quam. Vivamus justo
          massa, rutrum luctus lectus eget, mollis vehicula purus. Fusce
          lobortis sit amet tortor sed vehicula.
        </p>
        <p>
          Sed ornare felis id tellus malesuada blandit tempor a augue. Phasellus
          sodales mi at mollis rhoncus. Ut nulla odio, scelerisque ac pretium a,
          elementum nec dolor. Nam laoreet, nibh nec gravida posuere, nulla dui
          porttitor turpis, eu blandit arcu nibh id libero. Praesent mollis
          blandit justo, nec ultrices sapien dignissim euismod. Sed rutrum
          posuere quam, vel malesuada neque euismod vitae. Vestibulum mauris
          turpis, varius eu suscipit at, accumsan vel magna. In maximus posuere
          arcu ut dignissim. Nunc at leo pulvinar, ullamcorper sem ac, molestie
          felis. Nulla quis cursus metus, quis pellentesque eros. In iaculis
          lacus at faucibus molestie. Nunc facilisis ipsum luctus dui convallis,
          tristique mollis purus vehicula. Aenean justo nunc, sollicitudin quis
          diam quis, posuere viverra urna. Nullam fermentum massa eu mauris
          vulputate vestibulum. Pellentesque et lacinia est. Donec in quam
          iaculis, aliquet purus ut, mollis nisi.
        </p>
        <p>
          In a finibus quam, ut sagittis tellus. Cras scelerisque odio ac
          vestibulum sollicitudin. Integer pellentesque id lacus at dictum.
          Nulla iaculis vulputate ex vel gravida. Vestibulum sed rhoncus felis,
          finibus varius mauris. Nunc volutpat sem est, ut mattis tortor porta
          eget. Cras dapibus nulla metus, ut venenatis lorem rhoncus non. Donec
          tincidunt posuere mi, ac consequat libero aliquam quis. Vestibulum ut
          ultricies nisi. Quisque dignissim mi ac risus blandit, a vestibulum
          tellus vulputate. Etiam in ante at odio porta bibendum. Nullam
          sagittis augue non justo faucibus ornare.
        </p>
      </div>
    </main>

    <footer>
      <nav class="footer-nav-menu">
        <span class="footer-nav-menu-item">
          <a href="index.html">HOME</a>
        </span>

        <span class="footer-nav-menu-item">
          <a href="menu.html">MENU</a>
        </span>

        <span class="footer-nav-menu-item">
          <a href="gift-vauchers.html">GIFT VOUCHERS</a>
        </span>

        <span class="footer-nav-menu-item">
          <a href="contact-us.html">CONTACT US</a>
        </span>
      </nav>

      <div class="footer-restaurant-address">
        <p>
          Amelia Restaurant, 17 Dublin Str, Dublin 2, phone: +353 25 1452578,
          email: info@amelia.ie
        </p>
      </div>

      <p class="footer-text">
        Developed by Ala Mats, student of Dundrum College of Further Education,
        © 2022
      </p>
    </footer>
  </body>
</html>
